<!--<footer id="contact">-->
    <!--<div id="footer">-->
        <!--<div class="line">-->
            <!--<span></span>-->

            <!--<div class="author"></div>-->
        <!--</div>-->
        <!--<section class="info">-->
            <!--<p> Hello, I'm Sunxiaoyu in Shanghai. <br/>-->
                <!--Too simple, sometimes naive.</p>-->
        <!--</section>-->

        <!--<div class="social-font" class="clearfix">-->
            <!--<a href="http://weibo.com/15800763860" target="_blank" class="icon-weibo" title="微博"></a>-->
            <!--<a href="https://github.com/simpleyyt" target="_blank" class="icon-github" title="github"></a>-->
            <!--<a href="http://www.zhihu.com/people/yaoyit" target="_blank" class="icon-zhihu" title="知乎"></a>-->
            <!--<a href="mailto:simpleyyt@gmail.com" target="_blank" class="icon-email" title="Email Me"></a>-->

        <!--</div>-->
    <!--</div>-->
<!--</footer>-->
<footer id="contact">{% include _partial/footer.html %}</footer>
{% include _partial/after_footer.html %}

