<section class="no-padding" id="portfolio">
    <section class="container" style="padding-bottom:0px">
    <span style="color:#2ca6cb;text-algin:left;font-size:30px">
        <h2>&nbsp;&nbsp;关注的领域</h2>
    </span>
    </section>
    <section class="container">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#portfolio" class="portfolio-box">
                        <img src="{{ site.baseurl }}/img/portfolio/1.jpg" class="img-responsive" alt="">

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    美食
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#portfolio" class="portfolio-box">
                        <img src="{{ site.baseurl }}/img/portfolio/2.jpg" class="img-responsive" alt="">

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    旅行
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#portfolio" class="portfolio-box">
                        <img src="{{ site.baseurl }}/img/portfolio/3.jpg" class="img-responsive" alt="">

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    阅读
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#portfolio" class="portfolio-box">
                        <img src="{{ site.baseurl }}/img/portfolio/4.jpg" class="img-responsive" alt="">

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    技术
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#portfolio" class="portfolio-box">
                        <img src="{{ site.baseurl }}/img/portfolio/5.jpg" class="img-responsive" alt="">

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    玩具
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#portfolio" class="portfolio-box">
                        <img src="{{ site.baseurl }}/img/portfolio/6.jpg" class="img-responsive" alt="">

                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    吉他
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</section>
